/* You can add global styles to this file, and also import other style files */
/* html {
    height: 100%;
    box-sizing: border-box;
}

body {
    position: relative;
    margin: 0;
    min-height: calc(100% - 40px);
    margin-bottom: 40px;
} */

:root {
  --sws-progress-arrow-color: #4b4e56;
  --sws-progress-indicator-color: #4b4e56;
  --sws-progress-glow-color-start: 0 0 0 0 rgba(175, 175, 175, 0.9);
  --sws-progress-glow-color-end: 0 0 0 0 rgba(175, 175, 175, 0);
  --sws-progress-init-color: rgba(75, 78, 86, .18);
  --sws-progress-hover-color: rgba(75, 78, 86, .5);
  --sws-progress-focus-color: rgba(75, 78, 86, 1);
}

html, body {
    height: 100%;
}

.custom-header {
  --nav-height: calc(100vh - 50px);
  --nav-content-height: calc(100vh - 111px);
  --nav-pos: fixed;
}
